
* {
    box-sizing: border-box;
}
.app{
    margin: 0;
    background-image: linear-gradient(to right, #E21D27 , #B91D24);
    display: flex;
    justify-content: center;
    align-items: center;
.top{
    // display: flex;
    justify-content: center;
    align-items: center;
    height: 130px;
    width: 90%;
    border: none;
   
 
}}


