* {
    // font-size: calc(10px + (16 - 10) * ((100vw - 300px) / (1600 - 300)));
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
// ...............................................................................

.app {
 width: 100%;


    .top{
       
        background-image: linear-gradient(to right, #E21D27, #B91D24);
        width: 100%;
        height: 120px;
        background-color: red;
        .close{
            font-size: 30px;
            position: absolute;
            margin-left: 90.6%;
            margin-top: 33px;
            transform: rotate(45deg);
            color: blue;
            cursor: pointer;
        }
        .input_search{
            margin-left: 5%;
            border-radius: 2px;
            border: 1px solid rgb(217, 72, 78);
            border-bottom-color: grey;
            margin-top: 30px;
            font-size: 1em;
            font-weight: 100;
            padding-left: 70px;
            width: 90%;
            height: 50px;
            color: rgb(252, 246, 246);
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            background: rgb(217, 72, 78);
          }
          .logo {
            width: 35px;
            padding-top: 37px;
            margin-left: 6%;
            position: absolute;
            
        }

    }
    
  
.movie_list{
    display: flex;
    flex-direction: column;
    gap: 40px;
    
}
.all_list{
    gap: 50px;
    display: flex;
    margin-top: 50px;
    // flex-direction: row;
}
.left_side_list{
    padding-left: 10px;
    display: flex;
    flex-direction: column;
        .pic{
             width: 250px;
         
         }
}
.right_side_list{
    gap: 20px;
    display: flex;
    flex-direction: column;
    .movie_title{
        font-size: 21px;
        font-weight: 500;
    }
    .movie_language{
        font-style: oblique;
    }
    .popularity_star {
        width: 25px;
      
        }
    .movie_popularity{
        padding-top: 84px;
        position: absolute;
        padding-left: 36px;
        font-size: 14px;
        font-weight: 500;
    }
    .ten{
        padding-top: 86px;
        position: absolute;
        padding-left: 57px;
        font-size: 11px;
        font-weight: 500;
    }
    .movie_vote{
        padding-top: 101px;
        position: absolute;
        padding-left: 37px;
        font-size: 11px;
        color: gray;
    }
    .movie_overview{
        line-height: 30px;
        margin-right: 19px;
        font-size: 100.5%;
        color: rgb(44, 42, 42);
        font-family: Georgia, serif;
       
    }
}}

@media screen and (max-width: 670px) {
    .input_search{
        margin-left: 5%;
        border: 1px solid rgb(217, 72, 78);
        margin-top: 30px;
        font-size: 18px;
        font-weight: 100;
        padding-left: 90px;
        width: 90%;
        height: 50px;
        color: rgb(252, 246, 246);
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        background: rgb(217, 72, 78);
      }
    .all_list{
        padding-top: 70px;
        flex-direction: column;  
    }
    .right_side_list{
     margin-left: 30px;
     margin-right: 10px;  
    }
    .pic{

        height: auto;
        // min-width: 50%;
    }
   .left_side_list {
        align-items: center;
        
    }
     .logo {
        margin-left: 42px;
        max-width: 85%;
    }
    .movie_title{
        display: flex;
        justify-content: center;
        margin-top: -490px;
        padding-bottom: 400px;
        
    }
    .movie_language{
        padding-left: 99px;
        padding-top: 47px;
    }
    .popularity_star {
      
        margin-top: -47px;
        }
    .movie_popularity{
        margin-top: -89px;
        position: absolute;
        
    }
    .ten{
        margin-top: -89px;
        position: absolute;
      
    }
    .movie_overview{
        // margin-top: -48px;
        display: flex;
        justify-content: center;
       
       
    }
    .movie_vote{
        margin-top: -90px;
        margin-left: -2px;
    }
}

    

    